# Dependencies
node_modules/

# Builds
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.production
.env.development

# IDE
.vscode/
.idea/
*.swp
# Local Netlify folder
.netlify
